<html>
	<head>
		<title>django app</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
	</head>
	<body>
		<div style="text-align: center" title="http://www.bn.ru">
			<form action="find" id="find">      
				<table align="center">
					<tr>
						<td>Комнат</td>
						<td>от <input type="text" name="rfrom"/></td>
						<td>до <input type="text" name="rto"/></td>
					</tr>
					<tr>
						<td>Цена</td>  
						<td>от <input type="text" name="pfrom"/></td>
						<td>до <input type="text" name="pto"/></td>
					</tr> 
					<tr>
						<td colspan="3" align="center">
						<select name="metro" size="19" multiple>
						{% for option in metro_list %}
						<option value={{ option.value }}>{{ option.name }}</option>
						{% endfor %}
						</select><br>
						<input type="submit" value="Найти"/>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>	
